#__nuxt {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
  min-width: 18.75rem;

  @media (--viewport-md) {
    flex-direction: row;
  }

  main {
    flex: 1;
    padding: var(--indent);
  }
}

h1 + div {
  margin-top: var(--indent-double);
}

.link {
  color: var(--cobalt-blue);
  text-decoration: underline;
  transition: color var(--animation);

  &:hover,
  &:visited:hover {
    color: var(--blue);
  }

  &:visited {
    color: var(--cobalt-blue);
  }
}

.block {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--indent-three-quarters);

  @media (--viewport-sm) {
    padding: var(--indent);
  }
}