/* Root */
#__nuxt {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100dvh;
  min-width: 18.75rem;

  @media (--viewport-md) {
    flex-direction: row;
  }
}
/* Tags */
main > h1 {
  text-align: center;

  @media (--viewport-md) {
    text-align: left;
  }
}
th, td {
  padding: var(--indent-quarter) var(--indent-half);
  text-align: center;

  @media (--viewport-sm) {
    padding: var(--indent-quarter) var(--indent-half);
  }
}
fieldset {
  margin: 0;
}
/* Classes */
.link {
  color: var(--cobalt-blue);
  text-decoration: underline;
  transition: color var(--animation);

  &:hover,
  &:visited:hover {
    color: var(--blue);
  }

  &:visited {
    color: var(--cobalt-blue);
  }
}

.color {
  &_red {
    color: var(--red);
  }

  &_green {
    color: var(--green);
  }

  &_blue {
    color: var(--blue);
  }

  &_gray {
    color: var(--gray);
  }
}

.group {
  display: flex;
  gap: var(--indent);
  align-items: flex-start;
  flex-direction: column;

  @media (--viewport-sm) {
    flex-direction: row;
  }

  &__label {
    display: flex;
    gap: var(--indent-half);
  }
}

.extra-column {
  display: none;

  @media (--viewport-sm) {
    display: table-cell;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
/*Flex*/
.flex {
  display: flex;

  &_ai {

    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }
  }

  &_column {
    flex-direction: column;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_gap {
    gap: var(--indent);

    &-half {
      gap: var(--indent-half);
    }
  }
}
/*Show media*/
.show-lg {
  display: none;

  @media (--viewport-lg) {
    display: block;
  }

  &_inline {
    @media (--viewport-lg) {
      display: inline;
    }
  }
}
/*Временный костыль*/
.table__tr {
  transition: background-color var(--animation);
  
  &:hover {
    background-color: var(--powder-blue);
    cursor: pointer;
  }
  
  & + & {
    border-top: var(--border);
  }
}