/* Root */
#__nuxt {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100dvh;
  min-width: 18.75rem;

  @media (--viewport-md) {
    flex-direction: row;
  }
}
/* Tags */
td, th {
  padding: var(--indent-quarter) var(--indent-half);
  text-align: center;

  @media (--viewport-sm) {
    padding: var(--indent-quarter) var(--indent-half);
  }
}
/* Classes */
.link {
  color: var(--cobalt-blue);
  text-decoration: underline;
  transition: color var(--animation);

  &:hover,
  &:visited:hover {
    color: var(--blue);
  }

  &:visited {
    color: var(--cobalt-blue);
  }
}

.block {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--indent-three-quarters);

  @media (--viewport-sm) {
    padding: var(--indent);
  }
}

.color {
  &_red {
    color: var(--red);
  }

  &_green {
    color: var(--green);
  }

  &_blue {
    color: var(--blue);
  }

  &_gray {
    color: var(--gray);
  }
}

.group {
  display: flex;
  gap: var(--indent);
  align-items: flex-start;
  flex-direction: column;

  @media (--viewport-sm) {
    flex-direction: row;
  }

  &__label {
    display: flex;
    gap: var(--indent-half);
  }
}

.extra-column {
  display: none;

  @media (--viewport-sm) {
    display: table-cell;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}