/* Buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  padding: .5rem .75rem;
  border: 1px solid var(--light-gray);
  border-radius: .25rem;
  background-color: var(--white);
  transition:
    color var(--animation),
    background-color var(--animation),
    border-color var(--animation);

  &:hover {
    background-color: var(--light-gray);
  }

  &:focus {
    outline: var(--focus);
  }

  &_blue {
    background-color: var(--button-blue);
    border-color: var(--button-blue);
    color: var(--white);

    &:hover {
      background-color: var(--button-blue-hover);
      border-color: var(--button-blue-hover);
    }
  }

  &_red {
    background-color: var(--button-red);
    border-color: var(--button-red);
    color: var(--white);

    &:hover {
      background-color: var(--button-red-hover);
      border-color: var(--button-red-hover);
    }
  }

  &_gray {
    background-color: var(--light-gray);
    border-color: var(--light-gray);

    &:hover {
      background-color: var(--dark-gray);
      border-color: var(--dark-gray);
    }
  }

  &_outline {

    &_blue {
      background-color: transparent;
      border-color: var(--button-blue);
      color: var(--button-blue);

      &:hover {
        background-color: var(--button-blue);
        color: var(--white);
      }
    }
  }

  &_hover {
    background-color: transparent;
    border-color: transparent;

    &_blue {

      &:hover {
        background-color: var(--button-blue);
        border-color: var(--button-blue);
        color: var(--white);
      }
    }
  }
}
/* Input */
.input {
  padding: var(--indent-half);
  border: var(--border);
  border-radius: .25rem;
  box-sizing: border-box;

  &:focus {
    outline: var(--focus);
  }
}