:root {
  /* Цвета */
  --white: #fff;
  --black: #000;
  /* Серый */
  --light-gray: #80808033;
  --dark-gray: #a9a9a9;
  --gray: #808080;
  /* Синий */
  --powder-blue: #B6D0E2;
  --sky-blue: #87CEEB;
  --light-blue: #0000FF44;
  --blue: #0000FF;
  --cobalt-blue: #0047AB;
  /* Зелёный */
  --light-green: #00800044;
  --green: #008000;
  --dark-green: #006400;
  /* Красный */
  --light-red: #FF000044;
  --red: #FF0000;
  --dark-red: #8B0000;
  /* Основные отступы */
  --indent: 1rem;
  --indent-double: calc(var(--indent) * 2);/* 2x */
  --indent-half: calc(var(--indent) / 2);/* x/2 */
  --indent-quarter: calc(var(--indent) / 4);/* x/4 */
  --indent-three-quarters: calc(var(--indent-half) + var(--indent-quarter));/* 0.75x */
  /* Отступы в элементах */
  --list-item-padding: var(--indent-half) var(--indent);
  /* Анимации */
  --animation: .25s ease-out;
  /* Внешний вид блоков */
  --border: 1px solid var(--dark-gray);
  --border-radius: .5rem;
  /* Тени */
  --shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}